<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-bottom">
  <div class="container">
    <a href="#" class="navbar-brand">Toffees</a>
    <button class="navbar-toggler" (click)="toggleNavbar()" type="button" aria-controls="theNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div [ngbCollapse]="isNavbarCollapsed" id="theNavbar" [@collapse]="isNavbarCollapsedAnim" class="navbar-collapse collapse navbar-toggleable">
      <ul class="navbar-nav mr-auto ml-auto">
        <li class="nav-item" [routerLinkActive]='["active"]' [routerLinkActiveOptions]="{exact: true}">
          <a class="nav-link" [routerLink]='["/"]'>
            <i class="fas fa-home"></i>&nbsp;Home&nbsp;&nbsp;&nbsp;
          </a>
        </li>
        <li class="nav-item" [routerLinkActive]='["active"]'>
          <a class="nav-link" [routerLink]='["/login"]'>
            <i class="fas fa-sign-in-alt"></i>&nbsp;Login&nbsp;&nbsp;&nbsp;
          </a>
        </li>
        <li class="nav-item" [routerLinkActive]='["active"]'>
          <a class="nav-link" [routerLink]='["/glucose"]'>
            <i class="fas fa-list-ul"></i>&nbsp;Blood Glucose Index&nbsp;&nbsp;&nbsp;
          </a>
        </li>
        <li class="nav-item" [routerLinkActive]='["active"]'>
          <a class="nav-link" [routerLink]='["/dashboard"]'>
            <i class="fas fa-tachometer-alt"></i>&nbsp;Dashboard
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
