.ngx-charts > .refline-path {
	stroke: #a8b2c7;
    stroke-width: 1;
    stroke-dasharray: 5;
    stroke-dashoffset: 5; }
.ngx-charts > .refline-label {
    font-size: 9px; }
.ngx-charts > .reference-area {
    fill-opacity: 0.3;
    fill: green; }