<div *ngIf = "dataLoaded">
  <h2>Dashboard</h2>
  <h3>Blood Glucose trend over time</h3>
  <ngx-charts-line-chart
      [view]="view"
      [scheme]="colorScheme"
      [results]="series"
      [curve]="curve"
      [gradient]="gradient"
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
      [legend]="showLegend"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      [autoScale]="autoScale"
      [showRefLines]="showRefLines"
      [showRefLabels]="showRefLabels"
      [referenceLines]="referenceLines"
      [timeline]="timeline"
      (select)="onSelect($event)">
  </ngx-charts-line-chart>
  <ngx-charts-pie-grid
      [view]="view"
      [scheme]="colorScheme"
      [results]="multi"
      (select)="onSelect($event)">
    </ngx-charts-pie-grid>
</div>