<div class="container-fluid">
  <form class="form-signin" [formGroup]="form" (ngSubmit)="login()" novalidate>
    <div class="text-center mb-4">
      <img class="mb-4" src="http://teicm.gr/images/theme/header_logo_el.png" alt="TEI CM Crest" width="100" height="100">
    </div>
    <div class="form-label-group">
      <input formControlName="username" id="username" type="text" class="form-control form-control-lg" style="height: 50px" placeholder="Username" required autofocus>
      <label for="username">Username</label>
    </div>
    <div class="form-label-group">
      <input formControlName="password" id="password" type="password" class="form-control form-control-lg" style="height: 50px" placeholder="Password" required>
      <label for="password">Password</label>
    </div>
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted text-center">&copy; 2017-2018</p>
  </form>
</div>
